@use "../../styles/_colors";

$color: black;
$color2: pink;
$radius: 0.35rem;
$border-width: 2px;
$color-bg: white;
$offset: 0.5rem;
$transition: 0.3s;

.pro-btn {
  font-weight: 600;
  border: solid $border-width $color;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  background-color: $color-bg;
  border-radius: $radius;
  position: relative;
  cursor: pointer;
}

button.style-1 {
  &::after {
    border: 0;
    box-shadow: 0px 0px 0px $border-width $color;
    top: $offset;
    left: $offset;
  }

  &:hover {
    background-color: colors.$alternative;
    border: black 2px solid;
    border-radius: $radius;
    &::after {
      background-color: $color;
      box-shadow: none;
    }
  }
}
