@use "_colors.scss";

body {
  background-color: colors.$backgroundLight;
}

.main div {
  width: 600px;
  height: 600px;
  background-color: #ffd194;
}

.reveal {
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.fade {
  transition: opacity 0.3s;
}

.fade.out {
  opacity: 0;
}

.skills {
  display: flex;
}
